Folder structure:
....github/workflows/test.yml
.gitignore
README.md
backend/.gitignore
...backend/.vscode/extensions.json
...backend/nms/.env.example
...backend/nms/.eslintrc.json
...backend/nms/.gitignore
...backend/nms/README.md
......backend/nms/__integration_tests__/integration.test.ts
......backend/nms/__unit_tests__/add.test.ts
......backend/nms/__unit_tests__/device-count.test.ts
...backend/nms/babel-jest.config.js
......backend/nms/config/cors.ts
...backend/nms/createTestServer.ts
......backend/nms/db/.env.example
......backend/nms/db/.gitignore
......backend/nms/db/README.md
.........backend/nms/db/data/db-config.ts
.........backend/nms/db/data/env.ts
............backend/nms/db/data/migrations/20240224224257_create-devices.ts
............backend/nms/db/data/migrations/20241018184040_updated-notif-sections.ts
............backend/nms/db/data/migrations/20241018184434_no-default-notif-sections.ts
............backend/nms/db/data/migrations/20241107024540_create_date_created.ts
............backend/nms/db/data/migrations/20241206213748_editors-picks-rank-nullable.ts
............backend/nms/db/data/migrations/20241206215535_editors_picks_rank-required.ts
............backend/nms/db/data/migrations/20250124210149_snake_case.ts
............backend/nms/db/data/migrations/20250124210241_normalize_categories.ts
............backend/nms/db/data/migrations/20250131230012_date-camel-case.ts
............backend/nms/db/data/migrations/20250213034702_remove_unique.ts
............backend/nms/db/data/migrations/20250306221841_date_created.ts
............backend/nms/db/data/seeds/001-devices.ts
............backend/nms/db/data/seeds/reset_all.ts
......backend/nms/db/knexfile.ts
......backend/nms/db/load-env.js
......backend/nms/db/package-lock.json
......backend/nms/db/package.json
......backend/nms/db/tsconfig.json
...backend/nms/ecosystem.config.js
...backend/nms/env.ts
...backend/nms/firebase.json
...backend/nms/jest.config.js
......backend/nms/middleware/authMiddleware.ts
...backend/nms/next.config.mjs
...backend/nms/package-lock.json
...backend/nms/package.json
............backend/nms/pages/api/devices/[index].ts
............backend/nms/pages/api/devices/count.ts
............backend/nms/pages/api/editors-picks/add.ts
............backend/nms/pages/api/editors-picks/delete.ts
............backend/nms/pages/api/editors-picks/index.ts
............backend/nms/pages/api/editors-picks/update-ranks.ts
............backend/nms/pages/api/notifications/[jobId].ts
............backend/nms/pages/api/notifications/add.ts
............backend/nms/pages/api/notifications/delete.ts
............backend/nms/pages/api/notifications/index.ts
............backend/nms/pages/api/queue/queue.ts
............backend/nms/pages/api/types/types.ts
...backend/nms/playwright.config.ts
...backend/nms/postcss.config.js
......backend/nms/public/next.svg
......backend/nms/public/vercel.svg
.........backend/nms/src/app/AuthWrapper.tsx
.........backend/nms/src/app/ConfirmationModal.tsx
.........backend/nms/src/app/DeviceCounts.tsx
.........backend/nms/src/app/DeviceTable.tsx
.........backend/nms/src/app/EditorsPicks.tsx
.........backend/nms/src/app/EnvVars.tsx
.........backend/nms/src/app/LoginForm.tsx
.........backend/nms/src/app/NotificationForm.tsx
.........backend/nms/src/app/NotificationTable.tsx
.........backend/nms/src/app/SignOut.tsx
.........backend/nms/src/app/ToggleSentVisibleButton.tsx
.........backend/nms/src/app/favicon.ico
.........backend/nms/src/app/firebase.ts
.........backend/nms/src/app/globals.css
.........backend/nms/src/app/layout.tsx
.........backend/nms/src/app/page.tsx
.........backend/nms/src/types/index.d.ts
...backend/nms/tailwind.config.ts
...backend/nms/tsconfig.json
...backend/popular-scraper/.gitignore
...backend/popular-scraper/api-key-generator.py
...backend/popular-scraper/app.py
...backend/popular-scraper/popular_articles.json
...backend/popular-scraper/requirements.txt
...backend/serverless/.DS_Store
...backend/serverless/.firebaserc
...backend/serverless/.gitignore
...backend/serverless/README.md
......backend/serverless/db/.env.example
......backend/serverless/db/.gitignore
......backend/serverless/db/README.md
.........backend/serverless/db/data/db-config.ts
.........backend/serverless/db/data/env.ts
............backend/serverless/db/data/migrations/20240224224257_create-devices.ts
............backend/serverless/db/data/migrations/20241018184040_updated-notif-sections.ts
............backend/serverless/db/data/migrations/20241018184434_no-default-notif-sections.ts
............backend/serverless/db/data/migrations/20241107024540_create_date_created.ts
............backend/serverless/db/data/migrations/20241206213748_editors-picks-rank-nullable.ts
............backend/serverless/db/data/migrations/20241206215535_editors_picks_rank-required.ts
............backend/serverless/db/data/migrations/20250124210149_snake_case.ts
............backend/serverless/db/data/migrations/20250124210241_normalize_categories.ts
............backend/serverless/db/data/migrations/20250131230012_date-camel-case.ts
............backend/serverless/db/data/migrations/20250213034702_remove_unique.ts
............backend/serverless/db/data/migrations/20250306221841_date_created.ts
............backend/serverless/db/data/seeds/001-devices.ts
............backend/serverless/db/data/seeds/reset_all.ts
......backend/serverless/db/knexfile.ts
......backend/serverless/db/package-lock.json
......backend/serverless/db/package.json
......backend/serverless/db/test.txt
......backend/serverless/db/tsconfig.json
...backend/serverless/firebase.json
......backend/serverless/functions/.DS_Store
......backend/serverless/functions/.env.example
......backend/serverless/functions/.gitignore
......backend/serverless/functions/jest.config.js
......backend/serverless/functions/package-lock.json
......backend/serverless/functions/package.json
.........backend/serverless/functions/src/.DS_Store
............backend/serverless/functions/src/auth/createUser.ts
............backend/serverless/functions/src/auth/deleteUser.ts
.........backend/serverless/functions/src/envars.ts
.........backend/serverless/functions/src/index.ts
............backend/serverless/functions/src/url/createDevice.ts
............backend/serverless/functions/src/url/updateNotificationStatus.ts
............backend/serverless/functions/src/url/updateSettings.ts
............backend/serverless/functions/src/url/viewEditorsPicks.ts
............backend/serverless/functions/src/url/viewSettings.ts
.........backend/serverless/functions/src/utils.ts
.........backend/serverless/functions/test/index.test.ts
......backend/serverless/functions/tsconfig.json
frontend/.gitignore
...frontend/.idea/.gitignore
...frontend/.idea/frontend.iml
...frontend/.idea/misc.xml
...frontend/.idea/modules.xml
...frontend/.idea/vcs.xml
frontend/App.js
frontend/README.md
frontend/ads.patch
frontend/app.json
...frontend/assets/adaptive-icon.png
...frontend/assets/favicon.png
......frontend/assets/fonts/RobotoCondensed-Black.ttf
......frontend/assets/fonts/RobotoCondensed-BlackItalic.ttf
......frontend/assets/fonts/RobotoCondensed-Bold.ttf
......frontend/assets/fonts/RobotoCondensed-BoldItalic.ttf
......frontend/assets/fonts/RobotoCondensed-ExtraBold.ttf
......frontend/assets/fonts/RobotoCondensed-ExtraBoldItalic.ttf
......frontend/assets/fonts/RobotoCondensed-ExtraLight.ttf
......frontend/assets/fonts/RobotoCondensed-ExtraLightItalic.ttf
......frontend/assets/fonts/RobotoCondensed-Italic-VariableFont_wght.ttf
......frontend/assets/fonts/RobotoCondensed-Italic.ttf
......frontend/assets/fonts/RobotoCondensed-Light.ttf
......frontend/assets/fonts/RobotoCondensed-LightItalic.ttf
......frontend/assets/fonts/RobotoCondensed-Medium.ttf
......frontend/assets/fonts/RobotoCondensed-MediumItalic.ttf
......frontend/assets/fonts/RobotoCondensed-Regular.ttf
......frontend/assets/fonts/RobotoCondensed-SemiBold.ttf
......frontend/assets/fonts/RobotoCondensed-SemiBoldItalic.ttf
......frontend/assets/fonts/RobotoCondensed-Thin.ttf
......frontend/assets/fonts/RobotoCondensed-ThinItalic.ttf
......frontend/assets/fonts/RobotoCondensed-VariableFont_wght.ttf
......frontend/assets/fonts/RobotoFlex-Regular.ttf
......frontend/assets/fonts/RobotoFlex-VariableFont_GRAD,XOPQ,XTRA,YOPQ,YTAS,YTDE,YTFI,YTLC,YTUC,opsz,slnt,wdth,wght.ttf
...frontend/assets/icon.png
......frontend/assets/icons/arrow-back.png
......frontend/assets/icons/bookmarks.png
......frontend/assets/icons/notifications.png
......frontend/assets/icons/share.png
......frontend/assets/images/adaptive-icon.png
......frontend/assets/images/icon.png
......frontend/assets/images/splash.png
...frontend/assets/logo-black.png
...frontend/assets/options.png
...frontend/assets/splash.png
frontend/babel.config.js
frontend/eas.json
frontend/package.json
frontend/react-native.config.js
...frontend/src/BdhApp.tsx
......frontend/src/api/backendAPIs.ts
......frontend/src/api/fetchContent.ts
......frontend/src/components/Divider.tsx
......frontend/src/components/Header.tsx
......frontend/src/components/NotifToggle.tsx
......frontend/src/components/OpinionsHeader.tsx
......frontend/src/components/SectionHeader.tsx
.........frontend/src/components/cards/HorizontalCard.tsx
.........frontend/src/components/cards/ImageCard.tsx
.........frontend/src/components/cards/LargeCard.tsx
.........frontend/src/components/cards/LargeSectionCard.tsx
.........frontend/src/components/cards/NoImageCard.tsx
.........frontend/src/components/cards/SearchCard.tsx
.........frontend/src/components/cards/SmallCardTop.tsx
.........frontend/src/components/cards/SmallPhotoCardTop.tsx
.........frontend/src/components/common/BottomActionBar.tsx
......frontend/src/consts/consts.ts
......frontend/src/onboarding/Onboarding.tsx
......frontend/src/onboarding/PushNotifsOnboardingScreen.tsx
......frontend/src/onboarding/UpdateScreen.tsx
......frontend/src/onboarding/WelcomeScreen.tsx
......frontend/src/pages/MainTabNavigator.tsx
.........frontend/src/pages/article/ArticleScreen.tsx
.........frontend/src/pages/article/BottomArticleBar.tsx
.........frontend/src/pages/article/ShareArticle.tsx
.........frontend/src/pages/article/SplitContent.tsx
.........frontend/src/pages/home/HomeScreen.tsx
.........frontend/src/pages/home/HomeStackScreen.tsx
............frontend/src/pages/home/menu/HorizontalScrollMenu.tsx
............frontend/src/pages/home/menu/SectionPrefScreen.tsx
............frontend/src/pages/home/sections/EditorsPicks.tsx
............frontend/src/pages/home/sections/MostPopular.tsx
............frontend/src/pages/home/sections/OpinionsGroup.tsx
............frontend/src/pages/home/sections/SmallHorzGroup.tsx
............frontend/src/pages/home/sections/Top.tsx
.........frontend/src/pages/search/FilterDrawer.tsx
.........frontend/src/pages/search/FiltersScreen.tsx
.........frontend/src/pages/search/Search.tsx
.........frontend/src/pages/search/SearchScreen.tsx
.........frontend/src/pages/search/SearchStackScreen.tsx
.........frontend/src/pages/search/SectionFilters.tsx
.........frontend/src/pages/sections/SectionsScreen.tsx
.........frontend/src/pages/settings/BottomSavedArticlesBar.tsx
.........frontend/src/pages/settings/DevTeam.tsx
.........frontend/src/pages/settings/FavArticle.tsx
.........frontend/src/pages/settings/NotificationProvider.tsx
.........frontend/src/pages/settings/SavedArticles.tsx
.........frontend/src/pages/settings/SavedArticlesPreview.tsx
.........frontend/src/pages/settings/SettingsLink.tsx
.........frontend/src/pages/settings/SettingsScreen.tsx
.........frontend/src/pages/settings/SettingsStackScreen.tsx
.........frontend/src/pages/staff/BottomStaffBar.tsx
.........frontend/src/pages/staff/Staff.tsx
......frontend/src/styles/article.tsx
......frontend/src/styles/pages.tsx
......frontend/src/styles/search.tsx
......frontend/src/styles/sectionMenu.tsx
......frontend/src/styles/styles.tsx
......frontend/src/types/data.ts
......frontend/src/types/env.d.ts
......frontend/src/types/navStacks.ts
......frontend/src/types/other.ts
......frontend/src/utils/formatDates.ts
......frontend/src/utils/helpers.ts
......frontend/src/utils/setupDevice.ts
frontend/tsconfig.json
frontend/xo.yaml
frontend/yarn.lock