# TODO: separate this into .env.development and .env.production (see envalid config)
DB_URL="Only needed for staging/production"
DB_NAME="Only needed for production"
DB_USER="Only needed for production"
DB_PASSWORD="Only needed for production"
NODE_ENV=development|staging|production
# For client-side env vars, prefix with NEXT_PUBLIC_
# These are exposed to client, but that's okay. 
NEXT_PUBLIC_ENV=
NEXT_PUBLIC_FB_API_KEY=
NEXT_PUBLIC_FB_AUTH_DOMAIN=
NEXT_PUBLIC_FB_PROJECT_ID=
NEXT_PUBLIC_FB_STORAGE_BUCKET=
NEXT_PUBLIC_FB_MESSAGING_SENDER_ID=
NEXT_PUBLIC_FB_APP_ID=
